<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gl152.testdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 在SDCard 的挂载权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="common.GlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.AfterLoginActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.OneActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.NextPageActivity" />
        <activity android:name=".activity.SoundActivity" />

        <!-- <receiver android:name="receiver.SoundReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.media.VOLUME_CHANGED_ACTION" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity android:name=".activity.DrawViewActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.MenuActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.PhoneContentActivity" />
        <activity android:name=".activity.SDCardActivity" />
        <activity android:name=".activity.ZXingActivity" />
        <activity android:name=".activity.RecoderVideoActivity" />
        <activity android:name=".activity.VideoPlayActivity" />
        <activity android:name=".activity.ScrollActivity" />
        <activity android:name=".activity.DBActivity" />
        <activity android:name=".activity.HeartActivity" />
        <activity android:name=".activity.ArgActivity"></activity>
    </application>

</manifest>